@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model PPICards.Models.OnboardingModel.RegistrationRequest

@{
    ViewBag.Title = "UserRegistrationView";
    @*    Layout = "~/Views/Shared/_Layout.cshtml";*@
}
@*//<script src=" ~ /js/portal.js"></script>*@
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/jquery/jquery.js"></script>
<!--  Core JavaScript-->

<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/portal.js"></script>

<script>
    $(document).ready(function () {


        var failure = '@ViewBag.Failed';
        var success = '@ViewBag.Register';
        if (success =="000") {
            $("#successPopup").modal("show");
        } 
        if (failure == "005")
        {
            $("#failurePopup").modal("show");
            $("#con_tent").text("This number already exist. Please try another number");
        
        }  if (failure == "008")
        {
            $("#failurePopup").modal("show");
            $("#con_tent").text("This Email ID already exist. Please try another Email");
        
        }  if (failure == "012")
        {
            $("#failurePopup").modal("show");
            $("#con_tent").text("PAN number already exist. Please try another option");
        
        }  if (failure == "013")
        {
            $("#failurePopup").modal("show");
            $("#con_tent").text("Aadhaar number already exist. Please try another option");
        
        }  if (failure == "014")
        {
            $("#failurePopup").modal("show");
            $("#con_tent").text("Licence number already exist. Please try another option");
        
        }  if (failure == "015")
        {
            $("#failurePopup").modal("show");
            $("#con_tent").text("voter ID already exist. Please try another option");
        
        }  


        $("#aadhaarNo").on('keyup', function (e) {
        e.target.value = e.target.value.replace(/[^\dA-Z]/g, '').replace(/(.{4})/g, '$1 ').trim();
    });
        $("#state").val("TAMILNADU");
        $("#country").val("INDIA");
        $("#state").attr("readonly", "readonly");
        $("#country").attr("readonly", "readonly");
     
        //$("#aadhaarDiv").click(function () { 
        //    alert("aadhar");
        //   $("#aaDH").show();
        //});
        //$("#voterDiv").click(function () { 
        //    alert("voter");
        // $("#votER").show();
        //});
        //$("#licenseDiv").click(function () { 
        //    alert("driv");
        //  $("#driVER").show();
        //});
        
        $("#SelectProof").on('change', function () {
       
       
            if ($(this).val() == "1") {
               // alert( "aaadhar");
                $(".aaDH_ar").removeAttr('hidden');
                $(".Voting").attr('hidden', true);
                $(".dri_VER").attr('hidden', true);
            }
            if ($(this).val() == "2") {

               // alert("driv");
                $(".dri_VER").removeAttr('hidden');
                $(".aaDH_ar").attr('hidden', true);
                $(".Voting").attr('hidden', true);
            
            } 
            if ($(this).val() == "3") {
               // alert("vote");
               // alert($(this).val());
                $(".Voting").removeAttr('hidden');
                $(".dri_VER").attr('hidden', true);
                $(".aaDH_ar").attr('hidden', true);
            }


    
        });

    });
   </script>
@if (ViewBag.data != null)
{
    string lstrdata = ViewBag.data;
    string[] lstrSplit = lstrdata.Split('|');
    if (lstrSplit[0].ToString() == "000")
    {
      
    }
    if (lstrSplit[0].ToString() != "000")
    {
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xl-12">
                <div class="alert alert-dismissible alert-danger background-danger">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <i class="icofont icofont-warning"></i>
                    <strong>@lstrSplit[1].ToString()</strong>
                </div>
            </div>
        </div>
    }
}
@*<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>User Registration</title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="css/portal.css" rel="stylesheet">
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
</head>

<body id="page-top">*@
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
                    <h1 class="h3 mb-0 text-gray-800">User Registration. Please Fill valid details</h1>
                 @*   <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm text-uppercase">
                        <i class="fas fa-rupee-sign fa-sm text-white-50 "></i> Add Money
                    </a>*@
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-12 ">
                    </div>
                </div>
                <div class="card-block">

                    @using (Html.BeginForm("RegisterUser", "UserRegistration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()



                        <div class="form-group row">
                            <div class="col-sm-6">

                                <label class="floating-label">
                                    @Html.TextBoxFor(m => m.title, new
                                {
                                @Required = "",
                                @placeholder = "Mr/Ms/Mrs",
                                @autocomplete = "off",
                                @id = "firstname",
                             
                                editable = false,
                                @onkeypress = "return AllowCustomFormat(this.event,'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ')",
                                @class = "form-control",
                                @maxlength = "50"
                                })

                                    <span class="floating-text">
                                        Title
                                        <span class="floating-text" style="color: red;">*</span>
                                    </span>
                                </label>
                            </div>
                            <div class="col-sm-6">
                            <label class="floating-label">
                                @Html.TextBoxFor(m => m.firstName, new
                            {
                            @Required = "",
                            @placeholder = "Enter your name here",
                            @autocomplete = "off",
                            @id = "firstname",
                           
                            editable = false,
                            @onkeypress = "return AllowCustomFormat(this.event,'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ')",
                            @class = "form-control",
                            @maxlength = "50"
                            })


                                <span class="floating-text">
                                   First Name
                                    <span class="floating-text" style="color: red;">*</span>
                                </span>
                            </label>
                          
                            </div>
                       </div>
                      
                       <div class="form-group row">
                       

                           <div class="col-sm-6">
                                <label class="floating-label">
                                    @Html.TextBoxFor(m => m.middleName, new
                                {
                                @Required = "",
                                @placeholder = "Enter your middle name here",
                                @autocomplete = "off",
                                @id = "middlename",
                            
                                editable = false,
                                @onkeypress = "return AllowCustomFormat(this.event,'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ')",
                                @class = "form-control",
                                @maxlength = "50"
                                })


                                    <span class="floating-text">
                                       Middle Name
                                        <span class="floating-text" style="color: red;">*</span>
                                    </span>
                                </label>

                            </div>
                            <div class="col-sm-6">
                                <label class="floating-label">
                                    @Html.TextBoxFor(m => m.lastName, new
                                {
                                @Required = "",
                                @placeholder = "Enter your last name here",
                                @autocomplete = "off",
                                @id = "lastname",
                                editable = false,
                                @onkeypress = "return AllowCustomFormat(this.event,'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ')",
                                @class = "form-control",
                                @maxlength = "50"
                                })


                                    <span class="floating-text">
                                       Last Name
                                        <span class="floating-text" style="color: red;">*</span>
                                    </span>
                                </label>

                            </div>
                            </div>
                        <div class="form-group row">
                            <div class="col-sm-3">

                                <label class="floating-label">
                                    @Html.TextBoxFor(m => m.gender, new
                                {
                                @Required = "",
                                @placeholder = "Male/Female/Others",
                                @autocomplete = "off",
                                @id = "firstname",
                                editable = false,
                                @onkeypress = "return AllowCustomFormat(this.event,'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ')",
                                @class = "form-control",
                                @maxlength = "50"
                                })

                                    <span class="floating-text">
                                        Gender
                                        <span class="floating-text" style="color: red;">*</span>
                                    </span>
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <label class="floating-label ">
                                    @Html.TextBoxFor(m => m.dob, DateTime.Now.ToString("yyyy-MM-dd"), new { @required = "", @autocomplete = "off",@class="form-control h-auto",  @id = "birth_date", @type = "date", @maxlength = "50", placeholder = "From Date" })
                                    <span class="floating-text">Date of Birth</span>
                                </label>
                            </div>

                            <div class="col-sm-6">
                                <label class="floating-label">
                                    @Html.TextBoxFor(m => m.shopname, new
                                {
                                // @Required = "",
                                @placeholder = "Enter your Shop name here",
                                @autocomplete = "off",
                                @id = "firstname",
                                editable = false,
                                @onkeypress = "return AllowCustomFormat(this.event,'0123456789 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ-_@.')",
                                @class = "form-control",
                                @maxlength = "50"
                                })


                                    <span class="floating-text">
                                        Shop Name
                                        @*//<span class="floating-text" style="color: red;">*</span>*@
                                    </span>
                                </label>

                            </div>
                        </div>
                        <div class="form-group row">

                          <div class="col-sm-6">
                            <label class="floating-label">

                                @Html.TextBoxFor(m => m.emailAddress, new
                            {
                            @required = "",
                            pattern = @"^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$",
                            @autocomplete = "off",
                            @onkeypress = "return AllowCustomFormat(this.event,'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890.@_-')",
                            @class = "form-control",
                            @maxlength = "35",
                            placeholder = "Place your Email Address",
                            id = "hdnEmailId",
                            name = "EmailId",
                           // @Value = "cynthia@accupaydtech.com",
                            @title = "For ex: xyz@gmail.com"
                            })

                                <span class="floating-text">
                                    Email ID
                                    <span class="floating-text" style="color: red;">*</span>
                                </span>
                            </label>
                            </div>

                            <div class="col-sm-6">
                                <label class="floating-label number123">

                                @Html.TextBoxFor(m => m.mobileNo, new
                            {
                            @required = "",
                            @placeholder = "Mobile Number",
                            @autocomplete = "off",
                            @onkeypress = "return AllowCustomFormat(this.event,'0123456789')",
                            @ID = "Mandatorysh",
                            @class = "form-control",
                            @maxlength = "10",
                            @pattern = "[0-9]{10,10}",
                            @title = "Please enter exactly 10 digit Mobile Number"
                            })

                                <span class="floating-text">
                                    Mobile Number
                                    <span class="floating-text" style="color: red;">*</span>
                                </span>
                            </label>
                         </div>

                         </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                            <label class="floating-label">
                                @Html.TextBoxFor(m => m.address1, new
                            {
                            @Required = "",
                            @placeholder = "Address Line1",
                            @autocomplete = "off",
                            @id = "address",
                            editable = false,
                            @onkeypress = "return AllowCustomFormat(this.event,'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ 0123456789-,.')",
                            @class = "form-control",
                            @maxlength = "200"
                            })


                                <span class="floating-text">
                                   Address Line1
                                   <span class="floating-text" style="color: red;">*</span>
                                </span>



                            </label> </div>

                            <div class="col-sm-6">
                        <label class="floating-label">
                            @Html.TextBoxFor(m => m.address2, new
                        {
                          @Required = "",
                          @placeholder = "Address Line 2",
                          @autocomplete = "off",
                          @id = "address2",
                          editable = false,
                          @onkeypress = "return AllowCustomFormat(this.event,'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ 0123456789-,.')",
                          @class = "form-control",
                          @maxlength = "200"
                        })


                            <span class="floating-text">
                                Address Line2
                              <span class="floating-text" style="color: red;">*</span>
                            </span>



                        </label>
                            </div>

                          </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label class="floating-label">
                                    @Html.TextBoxFor(m => m.address3, new
                                {
                                @Required = "",
                                @placeholder = "Address Line 3",
                                @autocomplete = "off",
                                @id = "address3",
                                editable = false,
                                @onkeypress = "return AllowCustomFormat(this.event,'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ 0123456789-,.')",
                                @class = "form-control",
                                @maxlength = "200"
                                })


                                    <span class="floating-text">
                                        Address Line 3
                                        <span class="floating-text" style="color: red;">*</span>
                                    </span>



                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label class="floating-label">
                                    @Html.TextBoxFor(m => m.city, new
                                {
                                @Required = "",
                                @placeholder = "City",
                                @autocomplete = "off",
                                @id = "city",
                                editable = false,
                                @onkeypress = "return AllowCustomFormat(this.event,'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ')",
                                @class = "form-control",
                                @maxlength = "50"
                                })


                                    <span class="floating-text">
                                       City
                                   <span class="floating-text" style="color: red;">*</span>
                                    </span>



                                </label>
                            </div>

                           
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label class="floating-label">
                                    @Html.TextBoxFor(m => m.state, new
                                {
                                @Required = "",
                                @placeholder = "State",
                                @autocomplete = "off",
                                @id = "state",
                                editable = false,
                                @onkeypress = "return AllowCustomFormat(this.event,'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ')",
                                @class = "form-control",
                                @maxlength = "30",

                                })


                                    <span class="floating-text">
                                        State
                                        <span class="floating-text" style="color: red;">*</span>
                                    </span>



                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label class="floating-label">
                                    @Html.TextBoxFor(m => m.pincode, new
                                {
                                @Required = "",
                                @placeholder = "PinCode",
                                @autocomplete = "off",
                                @id = "address",
                                editable = false,
                                @onkeypress = "return AllowCustomFormat(this.event,'0123456789')",
                                @class = "form-control",
                                @maxlength = "6",
                                @minlength="6"
                                })


                                    <span class="floating-text">
                                       PinCode
                                        <span class="floating-text" style="color: red;">*</span>
                                    </span>



                                </label>
                            </div>

                           
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label class="floating-label">
                                    @Html.TextBoxFor(m => m.country, new
                                {
                                @Required = "",
                                @placeholder = "Country",
                                @autocomplete = "off",
                                @id = "country",
                                editable = false,
                                @onkeypress = "return AllowCustomFormat(this.event,'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ')",
                                @class = "form-control",
                                @maxlength = "50",

                                })


                                    <span class="floating-text">
                                        Country
                                        <span class="floating-text" style="color: red;">*</span>
                                    </span>



                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label class="floating-label">
                                    @Html.TextBoxFor(m => m.pan, new
                                {
                                 //@Required = "",
                                @placeholder = " PAN Card Number",
                                @autocomplete = "off",
                                @id = "address",
                                editable = false,
                                @onkeypress = "return AllowCustomFormat(this.event,'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ')",
                                @class = "form-control text-uppercase",
                                pattern = "[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}",
                                @title = "Please enter valid PAN number(Ex:ABCDE1234G)",
                                @maxlength = "10"
                                })


                                    <span class="floating-text">
                                        PAN Card Number
                                        @*<span class="floating-text" style="color: red;">*</span>*@
                                    </span>



                                </label>
                            </div>
                           
                        </div>
                        <div class="form-group  row">
                            <div class="col-sm-6">
                                <label class="floating-label">
                                     @Html.DropDownListFor(m => m.addressProofType, new List<SelectListItem>
                                {
                                new SelectListItem { Text = "Aadhaar Number", Value = "1" },
                                new SelectListItem { Text = "Driving License", Value = "2"},
                                new SelectListItem { Text = "Voter ID", Value = "3"},

                                }, "Please select the type of proof", new { /*@Required = "",*/ @class = "form-control form-select border-left-primary", @id = "SelectProof", autocomplete = "off", onchange = "check(this);" })

                                   

                                    <span class="floating-text">
                                        Address proof
                                        @*<span class="floating-text" style="color: red;">*</span>*@
                                    </span>



                                </label>

                            </div>

                            <div class="col-sm-6 aaDH_ar" hidden>
                                <label class="floating-label">
                                    @Html.TextBoxFor(m => m.aadhaarNo, new
                                {
                                // @Required = "",
                                @placeholder = "Aadhaar Number",
                                @autocomplete = "off",
                                @id = "aadhaarNo",
                                editable = false,
                                @onkeypress = "return AllowCustomFormat(this.event,'0123456789')",
                                @class = "form-control",
                                @maxlength = "14"
                                })



                                    <span class="floating-text">
                                        Aadhaar Number
                                        @*<span class="floating-text" style="color: red;">*</span>*@
                                    </span>



                                </label>
                            </div>
                            <div class="col-sm-6 dri_VER" hidden>
                                <label class="floating-label">
                                    @Html.TextBoxFor(m => m.drivingLicense , new
                                {

                                //It should be 16 characters long (including space or hyphen (-)).
                                // @Required = "",
                                @placeholder = "Driving License",
                                @autocomplete = "off",
                                @id = "drivingLicense",
                                editable = false,
                                @onkeypress = "return AllowCustomFormat(this.event,'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ')",
                                @class = "form-control",
                                @maxlength = "16"
                                })


                                    <span class="floating-text">
                                        Driving License Number
                                        @*<span class="floating-text" style="color: red;">*</span>*@
                                    </span>



                                </label>
                            </div>
                            <div class="col-sm-6 Voting" hidden >
                                <label class="floating-label">
                                    @Html.TextBoxFor(m => m.voterId , new
                                {
                                // @Required = "",
                                @placeholder = "Voter ID",
                                @autocomplete = "off",
                                @id = "voterId",
                                editable = false,
                                 pattern="[a-z]{3}[0-9]{7}",
                                @onkeypress = "return AllowCustomFormat(this.event,'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ')",
                                @class = "form-control",
                                @maxlength = "10"
                                })


                                    <span class="floating-text">
                                        Voter ID Number
                                        @*<span class="floating-text" style="color: red;">*</span>*@
                                    </span>



                                </label>
                            </div>
                        
                          
                      @*<div class="col-sm-6">
                        <label class="floating-label">
                            @Html.TextBoxFor(m => m.gst , new
                        {
                      // @Required = "",
                        @placeholder = "GST number",
                        @autocomplete = "off",
                        @id = "address",
                        editable = false,
                                @onkeypress = "return AllowCustomFormat(this.event,'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ')",
                        @class = "form-control",
                        @maxlength = "15"
                        })


                            <span class="floating-text">
                                        GST number
                             @*<span class="floating-text" style="color: red;">*</span>
                            </span>



                        </label>
                     </div>
                  *@
                   
                            
                           
                        </div>
                        <div class="form-group  row">
                        <div class="col-sm-6">

                            <label class="floating-label">
                                @Html.DropDownListFor(m => m.usertype, new List<SelectListItem>
                            {
                            new SelectListItem { Text = "Admin", Value = "1"},
                            //new SelectListItem { Text = "Merchant", Value = "2"},
                            new SelectListItem { Text = "Customer", Value = "4"},

                            }, "Select User Type", new { @Required = "", @class = "form-control form-select border-left-primary", @id = "selectuser", autocomplete = "off", onchange = "check(this);" })



                                <span class="floating-text">
                                    User Type
                                    <span class="floating-text" style="color: red;">*</span>
                                </span>
                            </label>
                        </div>
                        </div>
                       
                      <div>

                            <button type="submit" id="submit" class=" btn btn-primary btn-block bg-gradient-primary btn-large">Submit</button>


                        </div>

                    }

                </div>










            </div>
        </div>
    </div>
    

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2023</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
 @*   </div>
    <!-- End of Content Wrapper -->
    </div>*@
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    @*success and failure modal*@
@*    <div class="modal fade" id="successFailurePopup" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="d-flex justify-content-center my-4">
                <i class="fas fa-check-circle text-success" style="font-size:72px"></i>
                <i class="fas fa-times-circle text-danger" style="font-size:72px"></i>
            </div>
            <div class="modal-body text-center"></div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Ok</button>
                <a class="btn btn-primary" onclick="ActivateCard();">OK</a>
            </div>
        </div>
    </div>
</div>*@
<div class="modal fade" id="successPopup" style="" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:auto;">
        <div class="modal-content">
            <div class="d-flex justify-content-center my-2">
                <i class="fas fa-check-circle text-success" style="font-size:50px"></i>
                @*<i class="fas fa-times-circle text-danger" style="font-size:72px"></i>*@
            </div>
            <div class="modal-body text-center" style="font-size:20px">User Creation Successfull</div>
            <div class="modal-footer" style="padding:5px;">
                <button class="btn btn-primary" type="button" data-dismiss="modal">Ok</button>
                @*// <a class="btn btn-primary" onclick="ActivateCard();">OK</a>*@
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="failurePopup" style="" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:auto;">
        <div class="modal-content">
            <div class="d-flex justify-content-center my-2">
                <i class="fas fa-times-circle text-danger" style="font-size:50px"></i>
                @*<i class="fas fa-times-circle text-danger" style="font-size:72px"></i>*@
            </div>
            <div class="modal-body text-center" style="font-size:20px" id="con_tent"></div>
            <div class="modal-footer" style="padding:5px;">
                <button class="btn btn-primary" type="button" data-dismiss="modal">Ok</button>
                @*// <a class="btn btn-primary" onclick="ActivateCard();">OK</a>*@
            </div>
        </div>
    </div>
</div>


@*
</body>

</html>
*@


                



